.dark .bgChange{
  background-color: #181a20;
  padding-top: 0.1rem;
}
.dark .darkParaDate {
  color: #FFFFFF;
    text-align: justify;
    font-family: font-regular;
}
.dark .blogHeaderColorChange strong{
  color: #FFFFFF;
}
.ContentEdit p {
    text-align: justify;
    color: #607D8B;
    font-family: font-regular;
}
.ContentEdit img{
    border-radius: 0.7rem;
}
.ContentEdit{
    margin-top: 2rem;
}
.dark .paraEdit{
    margin-top: 2rem;
    font-size: 15px;
    line-height: 1.7rem;
    font-family: font-regular;
    color: #b0b2b5;
    
}
.paraEdit{
    margin-top: 2rem;
    font-size: 15px;
    line-height: 1.7rem;
    font-family: font-regular;
    color: #607d8b;
    
}
.content-section {
    background: lavender;
    height: 1000px;
    min-height: 100vh;
    padding: 1em;
  }

  .sidebar-section {
    height: 100%;

  }
.combineCard{
    cursor: pointer;
    border-radius: 2rem;
}
/* .combineCard :hover{
    background-color: red;
} */
.dark .sharedPost h4{
  color: #FFFFFF;
  font-family: font-SemiBold;
    font-size: 1.2rem;
}
.sharedPost h4{
  font-family: font-SemiBold;
    font-size: 1.2rem;
}
  .sharedPost ul li{

    display: inline-block;
    margin: 1rem 3rem 0rem -1.5rem;
  }
  .sharedPost ul li i{
    cursor: pointer;
  }
  .sidebar-content {
    padding: 1em;
  }
  /* .combineCard:hover{
    background-color: #fafafa;
  } */
  .postpadding{
    margin-bottom: 2rem;
  }
  .dark .socialDark li a i{
    color: #FFFFFF;
  }
  .sidebar-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .sidebarimg img{
    width: 100%;
    height: auto;
  }
  .textSticky{
    margin-top: 1rem;
    text-align: justify;
    line-height: 2rem;
  }
  .dark .textSticky p {
    color: #FFFFFF;
    font-family: font-Regular;
  }
  .textSticky p {
    font-family: font-Regular;
  }
  .paraEdit  em {
    color: #b0b2b5;
    font-family: font-SemiBold;
    font-size: 15px;
  }