.ContentEdit p {
    text-align: justify;
    color: #607D8B;
}
.ContentEdit img{
    border-radius: 0.7rem;
}
.ContentEdit{
    margin-top: 2rem;
}
.paraEdit{
    margin-top: 2rem;
    font-size: 15px;
    line-height: 1.7rem;
    font-family: font-regular;
    color: #607d8b;
}
.content-section {
    background: lavender;
    height: 1000px;
    min-height: 100vh;
    padding: 1em;
  }

  .sidebar-section {
    height: 100%;

  }
.combineCard{
    cursor: pointer;
    border-radius: 2rem;
}
/* .combineCard :hover{
    background-color: red;
} */
  .sharedPost ul li{

    display: inline-block;
    margin: 1rem 3rem 0rem -1.5rem;
  }
  .sharedPost ul li i{
    cursor: pointer;
  }
  .sidebar-content {
    padding: 1em;
  }
  .combineCard:hover{
    background-color: #fafafa;
  }
  .postpadding{
    margin-bottom: 2rem;
  }
  .sidebar-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  .sidebarimg img{
    width: 100%;
    height: auto;
  }
  .textSticky{
    margin-top: 1rem;
    text-align: justify;
  }
  .paraEdit  em {
    color: #607D8B;
    font-family: font-SemiBold;
    font-size: 15px;
  }