.container span{
    position: absolute;
    right: 40px;
    top: 5px;
    z-index: 999;
}
.container input {
    border-radius: 1rem;
}
ul {
    list-style-type: none;
}
.cardEdit {
    margin-top: 2.5rem;
}
.cardEdit img{
    height: 210px;
    width: 100%;
}
.imageInfo{
    margin-top: 1.2rem;
}
.imageInfo p{
    line-height: 1.5rem;
    text-align: justify;
    font-size: 15px;
    margin-top: 1rem;
}
.cardEdit img {
    cursor: pointer;
}
.cardEdit h5 {
    cursor: pointer;
}
.cardEdit :hover{
    background-color: #fafafa;
}