.container span{
    position: absolute;
    right: 40px;
    top: 5px;
    z-index: 999;
}
ul {
    list-style-type: none;
}
.cardEdit {
    margin-top: 2.5rem;
}
.cardEdit img{
    height: 210px;
    width: 100%;
}
.imageInfo{
    margin-top: 1.2rem;
}
.imageInfo p{
    line-height: 1.5rem;
    text-align: justify;
    font-size: 13px;
    margin-top: 1rem;
    color: #607d8b;
}

.cardEdit img {
    cursor: pointer;
}
.cardEdit h5 {
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
}
.cardEdit :hover{
    background-color: #fafafa;
    border-radius: 1rem;
}
.underDeco p a{
    text-decoration: none;
}
.searchEdit {
    width: auto;
    left: 19rem;
}
.readAlign{
    font-weight: bold;
    margin-top: 0.8rem;
}
.readAlign a{
    text-decoration: none;
    color: #607d8b;
    margin-left: 3rem;
}
.readAlign a i{
    color: #607d8b;
    margin-left: 0.5rem;
}
.dateEdit h6{
    margin-top: 1rem;
    font-size: 14px;
    color: #1e2329;
}
.form-control{
    border-radius: 1.5rem;
    background-color:#fafafa;
}
@media screen and (max-width: 600px){
    .searchEdit {
        left:5rem;
    }
} 