*{
    font-family: sans-serif;
    font-size: 16px;
    color: #4E5D78;
}
.dark .footerdark {
    background: #0b0E11;
}
.light .footerdark {
    background-color: #fafafa;
}
.dark .aboutHeading{
    font-size: 13px;
    line-height: 1.5rem;
    text-align: justify;
    color: #FFFFFF;
    font-family: font-Regular;
}
.aboutHeading{
    font-size: 13px;
    line-height: 1.5rem;
    text-align: justify;
    color: #607d8b;
    font-family: font-Regular;
}
.dark .social{
    color: #FFFFFF;
    font-size: 12px;
}
.social{
    color: #607d8b;
    font-size: 12px;
}
.social hr{
    border-top: 0.1px solid #8995ab;
}
.dark .container p a{
    color: #FFFFFF;
}
.container p a{
    color: #607d8b;
}
.dark .container p i{
    color: #FFFFFF;
    margin-right: 1rem;
}
.container p i{
    color: #607d8b;
    margin-right: 1rem;
}
.txth4{
    font-weight: bold;
    font-size: 15px;
}
.dark .footer-heading-text{
    color: #FFFFFF;
    font-family: font-Regular;
}
.footer-heading-text{
    font-family: font-Regular;
}
.footer-description-text p a {
    text-decoration: none;
    font-family: font-Regular;
}
.footer-description-text{
    line-height: 1rem;
}
.footer-description-text-social p a {
    text-decoration: none;
    font-family: font-Regular;
}
.footer-description-text-socail{
    line-height: 1rem;
}
