*{
    font-family: sans-serif;
    font-size: 16px;
    color: #4E5D78;
}
.aboutHeading{
    font-size: 13px;
    line-height: 1.5rem;
    text-align: justify;
    color: #607d8b;
    font-family: font-Regular;
}
.social{
    color: #607d8b;
    font-size: 12px;
}
.social hr{
    border-top: 1px solid #8995ab;
}
.container p a{
    color: #607d8b;
}
.container p i{
    color: #607d8b;
    margin-right: 1rem;
}
.container h4{
    font-weight: bold;
    font-size: 15px;
}
.fontChanges{
    font-family: font-Regular;
}
.underDeco p a {
    font-family: font-Regular;
}
.underDeco{
    line-height: 1rem;
}