.headercolor{
    background-color: #fafafa;
}
nav ul li a {
    margin-top: 1rem;
    margin-left: 2rem;
}
.headerBelow {
    margin-top: 2rem;
    padding-bottom: 2rem;
}
.headerBelow p {
    line-height: 1.7rem;
}
nav ul li a p{
    color: #607D8B;
    font-weight: bold;
}